/* Some sane resets. */
html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

/* All the flexbox magic! */
body,
.sb-announcement,
.sb-content,
.sb-main,
.sb-container,
.sb-container__inner,
.sb-article-container,
.sb-header,
.sb-footer {
  display: flex;
}

/* These order things vertically */
body,
.sb-main,
.sb-article-container {
  flex-direction: column;
}

/* Put elements in the center */
.sb-announcement, .sb-header, .sb-container, .sb-content, .sb-footer {
  justify-content: center;
}
/* Put elements at the ends */
.sb-article-container {
  justify-content: space-between;
}

/* These elements grow. */
.sb-main, .sb-content, .sb-container, .sb-container__inner, .sb-article {
  flex-grow: 1;
}

/* Because padding making this wider is not fun */
article {
  box-sizing: border-box;
}

/* The announcements element should never be wider than the page. */
.sb-announcement {
  align-items: center;
  max-width: 100%;
}

.sb-primary-sidebar, .sb-secondary-sidebar {
  display: none;
  flex-shrink: 0;
  box-sizing: border-box;
}
.sb-primary-sidebar.stick-to-content {
  justify-content: flex-end;
}
.sb-primary-sidebar.stick-to-edge {
  justify-content: flex-start;
}
.sb-primary-sidebar__inner, .sb-secondary-sidebar__inner {
  overflow-y: auto;
  flex-shrink: 0;
  width: 17rem;
}

.sb-announcement__inner {
  justify-content: center;

  box-sizing: border-box;

  overflow-x: auto;
  white-space: nowrap;
}

/* Mobile views */
.sb-page-width {
  width: 100%;
}
.sb-article {
  padding: 0 2rem;
  box-sizing: border-box;
}
.sb-article-container, .sb-footer__inner {
  width: 100%;
}

/* Tablet views */
@media (min-width: 42rem) {
  .sb-article-container {
    width: auto;
  }
  .sb-article {
    width: 42rem;
  }
  .sb-footer__inner {
    width: 42rem;
  }
}
@media (min-width: 46rem) {
  .sb-article {
    width: 46rem;
  }
  .sb-footer__inner {
    width: 46rem;
  }
}

/* Tablet views */
@media (min-width: 59rem) {
  .sb-secondary-sidebar {
    display: flex;
  }
  .sb-article {
    width: 42rem;
  }
  .sb-footer__inner {
    width: 59rem;
  }
}
@media (min-width: 63rem) {
  .sb-article {
    width: 46rem;
  }
  .sb-footer__inner {
    width: 63rem;
  }
}

/* Desktop views */
@media (min-width: 76rem) {
  .sb-primary-sidebar {
    display: flex;
  }
  .sb-primary-sidebar, .sb-secondary-sidebar {
    width: calc((100vw - 76rem) / 2 + 17rem);
  }
  .sb-article {
    width: 42rem;
  }
  .sb-footer {
    justify-content: flex-start;
  }
  .sb-footer__inner {
    width: 59rem;
  }
}

@media (min-width: 80rem) {
  .sb-primary-sidebar, .sb-secondary-sidebar {
    width: calc((100vw - 80rem) / 2 + 17rem);
  }
  .sb-footer__inner {
    width: 63rem;
  }
  .sb-article {
    width: 46rem;
  }
}

/* Wide desktop views */
@media (min-width: 80rem) {
  .sb-article {
    width: 46rem;
  }
  .sb-page-width {
    width: 80rem;
  }
}
